*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: arial !important;
    scroll-behavior: smooth;
}

._header{
    width:100%;
    height:50px;
    background:white;
    box-shadow:2px 2px 5px rgba(0, 0, 0, 0.2);
    padding:5px 25px;
    box-sizing:border-box;
    /*margin-bottom:5px;*/
    position: fixed;

    display:flex;
    justify-content: space-between;
    align-items: center;
}

._header ._title{
    color:gray;
    padding:5px 20px;
    background:white;
    border-radius:50px;

    display:flex;
    justify-content: center;
    align-items:center;
}


._header ._link{
    padding:5px 20px;
    background:white;
    border-radius:50px;
    text-decoration: none;
    color:lightslategray;
    font-size:14px;
    transition:all 0.3s linear;

    display:flex;
    justify-content: center;
    align-items:center;
}

._header ._link:hover{
    background: orange;
    color:white;
}

._header ._title span{
    color:lightseagreen;
}

._ctr{
    width:100%;
    min-height:100vh;
    background:linear-gradient(45deg, lightgreen, lightseagreen, dodgerblue);
    padding:5px 25px;
    padding-top:60px;
    box-sizing:border-box;

    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-content:space-around;
    align-items:center;
}

._ctr ._ctr_form {
    background-color:white;
    min-height:300px;
    width:350px;
    padding:10px;
    margin:25px;
    border-radius:4px;
    box-shadow:2px 2px 10px rgba(0, 0, 0, 0.2);

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

._ctr ._ctr_form #qrform{
    background-color:white;
    padding:20px 5px;

    display:flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: flex-start;
}
._ctr ._ctr_form #qrform input[type="text"]{
    padding:5px 10px;
    width:100%;
    margin:5px 0;
    border-radius:4px;
    border:0.5px solid rgba(0, 0, 0, 0.05);
    outline-color:lightseagreen;
    color:gray;
}

._ctr ._ctr_form #qrform input[type="submit"]{
    padding:5px 10px;
    /*width:30%;*/
    margin:5px 0;
    border-radius:4px;
    border:none;
    cursor:pointer;
    color:white;
    background: linear-gradient(45deg, lightgreen, lightseagreen, dodgerblue);
}

._ctr ._ctr_form #qrform input[type="submit"]:hover{
    
}

._ctr ._ctr_form #result_box {
    padding:5px;
    background:lightgray;
    width:100%;
    min-height:200px;
    display:flex;
    justify-content: center;
    align-items: center;
}

._ctr ._ctr_form #qr_code {
    border-radius:5px;
    box-shadow:2px 2px 5px rgba(0, 0, 0, 0.2);
    border:0.5px solid rgba(0, 0, 0, 0.1);
}


._ctr ._ctr_code_ex {
    width:50%;
    min-width:300px;
    height:400px;
    background:#1C2833;
    padding:20px 10px;
    margin:25px;
    border-radius:4px;

    display:flex;
    justify-content: center;
    align-items: flex-start;
}

._ctr ._ctr_code_ex #code_example {
    color:lightseagreen;
    padding:5px 10px;
    border-radius:5px;
    width:100%;
    height:80%;
    background:#273746;
}

._ctr ._ctr_code_ex #code_example .object_entry {
    word-break: break-all;
    font-size:12px;
    margin:5px 0;
}

._ctr ._ctr_code_ex #code_example .object_entry .object_key{
    font-size:16px;
    color:orange;
    font-weight: bold;
}

._footer{
    height:60px;
    width:100%;
    padding:10px 25px;

    display:flex;
    justify-content:center;
    display:none;
}


.loader{
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: #09f;

    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
      
